@font-face {
  font-family: "OpenSans";
  src: url("./OpenSans-Regular.ttf") format("TrueType");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("./OpenSans-Italic.ttf") format("TrueType");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans";
  src: url("./OpenSans-SemiBold.ttf") format("TrueType");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("./OpenSans-Bold.ttf") format("TrueType");
  font-weight: 700;
  font-style: normal;
}
