@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply bg-slate-200
  }
}

@layer components {
  .btn-primary {
    @apply px-4 py-2 rounded-md bg-cyan-600 text-white hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 disabled:bg-gray-400 disabled:cursor-not-allowed;
  }
  .btn-secondary {
    @apply border-2 border-gray-300 px-4 py-2 rounded-md focus:outline-none hover:bg-gray-100 hover:text-cyan-600 focus:ring-4 focus:ring-gray-100 disabled:bg-gray-200 disabled:text-cyan-950 disabled:cursor-not-allowed;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 15px;
    height: 20px;
  }
  ::-webkit-scrollbar-track {
    width: 100vh;
    @apply bg-gray-100
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-cyan-600 border-2 border-white hover:bg-cyan-800
  }
}